.item{
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow: 2px 3px 5px gray;
    width: 100%;
    padding-left: 20px;
    border-radius: 5px;
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.statusOnLine {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.statusOffLine {
    composes: statusOnLine;
    background-color: red;
}

.avatar {
    display: block;
    max-width: 100%;
    height: auto;
}

.name {
    font-size: 20px;
}